// Variable overrides
//
// If you want to customize your project please add your variables below.

$enable-deprecation-messages: false !default;

$placeholder-opacity-max: 0.3 !default;
$placeholder-opacity-min: 0.2 !default;
