  .nav-link {
    position: relative;
    padding-bottom: 0.5rem;
  }

  .nav-link-active::after {
    content: "";
    display: block;
    height: 2px;
    background: purple;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }